PORT = 3000

# PostgreSQL Connection (Required)
DB_HOST = localhost
DB_USER = postgres
DB_PASSWORD = 
DB_PORT = 5432
DB_NAME = auth-db

# JWT Secret Key for Token Generation (Required)
JWT_SECRET = 

# Resend API Key and Domain Email (Required for 2FA)
RESEND_API_KEY=
RESEND_DOMAIN_EMAIL=

# Swagger Documentation Host
HOST_SWAGGER=http://localhost:3000/api