PORT = 3000

# PostgreSQL Connection (Required)
DB_HOST = localhost
DB_USER = postgres
DB_PASSWORD = 
DB_PORT = 5432
DB_NAME = auth-db

# JWT Secret Key for Token Generation (Required)
JWT_SECRET = 

# Gmail SMTP Configuration (Required for 2FA)
GMAIL_HOST=smtp.gmail.com
GMAIL_PORT=587
GMAIL_USER=
GMAIL_PASS=

# Swagger Documentation Host
HOST_SWAGGER=http://localhost:3000/api